*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:
        'Montserrat',
        Arial,
        Helvetica,
        sans-serif;
}

p{
    font-family:
        'Montserrat',
        Arial,
        Helvetica,
        sans-serif;
}

.background{

    width:100%;

    padding:40px 20px;

}

.container{

    max-width:600px;

    margin:auto;

    background:white;

    border-radius:12px;

    overflow:hidden;

    box-shadow:
    0 5px 18px rgba(0,0,0,.08);

}

header{

    padding:2rem;

    text-align:center;

    background-color: #8E1A1F;

}

.logo{

    width:300px;

    display:block;

    margin:auto;

}

.hero img{

    width:100%;

    display:block;

}

main{

    padding:40px;

}

h1{
    text-align: center;
}

h1 img{
    width: 60%;
}

.subtitle{
    font-size: 17px;
    color: black;
    margin: 20px 0;
}

.articles{
    border-top: 1px solid #8E1A1F;
}

article{
    padding: 25px 0;
    border-bottom: 1px solid #8E1A1F;
}

h3{
    display: inline-block;
    background-color: black;
    padding: 3px 7px 3px 5px;
    color: #F3971F;
    font-style: italic;
}

.service{

    display:flex;

    gap:30px;

    margin-top: 25px;

    align-items: center;

}

.service-left{

    width: 110px;

    flex-shrink:0;

    text-align:center;

}

.service-left img{

    width:60px;

}

.service-right{

    flex:1;

}

.buttonContainer{
    text-align: center;
    margin-top: 20px;
}

.button{

    display:inline-block;

    margin-top:20px;

    padding:15px 30px;

    color: black;

    border: 2px solid black;

    text-decoration:none;

    font-weight:600;
    

}

.button:hover{

    background: black;

    color:#F3971F;

}

footer{

    padding:35px 40px;

    background:#8E1A1F;

}

footer hr{

    border:none;

    height:1px;

    background:#ddd;

    margin-bottom:25px;

}

footer p{

    margin-bottom: 15px;

    font-size:15px;

    color:white;

}

footer p a{
    color: white;
    text-decoration: none;
}

footer p img {
    vertical-align: middle;
    width: 20px;
    margin-right: 3px;
}

@media screen and (max-width:600px){

    .background{

        padding:0;

    }

    .container{

        border-radius:0;

    }

    main{

        padding:30px;

    }

    h1{

        font-size:28px;

    }

    .button{

        display:block;

        text-align:center;

    }

}